</head>
<body>
  <!-- Navbar -->
  <header class="navbar">
    <div class="logo">SmartHome Studio</div>
    <div class="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/services">Nos solutions</a></li>
        <li><a href="/automations">Automatisations</a></li>
        <li><a href="/about">À propos</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>