<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartHome studio</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
  <!-- Navbar -->
  <header class="navbar">
    <div class="logo">SmartHome Studio</div>
    <div class="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/services">Nos solutions</a></li>
        <li><a href="/automatisations">Automatisations</a></li>
        <li><a href="/about">À propos</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <!-- Hero section avec photo de fond -->
  <section class="hero">
    <div class="hero-content">
      <h1>Automatisez votre quotidien.</h1>
      <p>Simplifiez votre vie avec des solutions domotiques sur mesure.</p>
      <a href="/services" class="cta-button">Découvrir nos solutions</a>
    </div>
  </section>
<script src="/js/menu.js"></script>

<footer>
  <div class ="footer">
    <p>© 2025 SmartHome Studio</p>  <p>Peter Macé</p>
  </div>
</footer>

</body>
</html>

