<%- include('../partials/head') %>
    
<%- include('../partials/header') %>

  <!-- Hero section avec photo de fond -->
  <section class="hero">
    <div class="hero-content">
      <h1>Automatisez votre quotidien.</h1>
      <p>Simplifiez votre vie avec des solutions domotiques sur mesure.</p>
      <a href="/services" class="cta-button">Découvrir nos solutions</a>
    </div>
  </section>
<script src="/js/menu.js"></script>

<%- include('../partials/footer') %>



