body {
    background-color: rgba(10, 73, 99, 0.904);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    background: rgba(0, 0, 0, 0.0);
    /* pointer-events: none; */
}

h1 {
    color: rgb(195, 226, 109);
}

label {
    display: flex;
    
}

form {
    margin-top: 5.2rem;
    display:grid;
    justify-content: center;
    color: rgb(195, 226, 109);

}
fieldset {
    border-radius: 1rem;
    border-color: rgb(206, 176, 79);
}
button {
    border-radius: 1rem;
    color: rgb(195, 226, 109);
    background-color: rgb(16, 156, 190);
    margin-top: 1rem;
    height: 2.5rem;
}
textarea {
    width: 50%;
    height: 3rem;

}



@media (max-width: 720px) {
    #map {
        margin-top: 80px; /* hauteur de la navbar mobile */
    }
}

@media (min-width: 721px) and (max-width: 1024px) {
    #map {
        margin-top: 100px;
    }
}

@media (min-width: 1025px) {
    #map {
        margin-top: 120px;
    }
}