body {
    background-color: rgba(10, 73, 99, 0.904);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    background: rgba(0, 0, 0, 0.0);
}

h2{
    text-align: center;
    color: rgb(195, 226, 109);
}

.gallery {
  padding: 60px 40px;

}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.gallery-grid img:hover {
  transform: scale(1.03);
}

@media (max-width: 720px) {
    #map {
        margin-top: 80px; /* hauteur de la navbar mobile */
    }
}

@media (min-width: 721px) and (max-width: 1024px) {
    #map {
        margin-top: 100px;
    }
}

@media (min-width: 1025px) {
    #map {
        margin-top: 120px;
    }
}