/*css map leaflet*/
#map { 
    height: 18rem; 
    margin-top: 6.2rem;
}

#communication {
    margin-top: 2rem;
    margin-bottom: 8rem;
    color: black;
    text-align: center;
    

}
body {
    background-color: rgba(10, 73, 99, 0.904);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    background: rgba(0, 0, 0, 0.0);
}
@media (max-width: 720px) {
    #map {
        margin-top: 80px; /* hauteur de la navbar mobile */
    }
}

@media (min-width: 721px) and (max-width: 1024px) {
    #map {
        margin-top: 100px;
    }
}

@media (min-width: 1025px) {
    #map {
        margin-top: 120px;
    }
}

