body {
    background-color: rgba(10, 73, 99, 0.904);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    background: rgba(0, 0, 0, 0.0);
    /* pointer-events: none; */
}

.form-container {
    margin-top: 10rem;
    border-radius: 1rem;
    background-color: rgba(54, 61, 51, 0.780);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 10rem; 
}
h1 {
    color: rgb(195, 226, 109);
}
#info{
    display: flex;    
    justify-content: center;
    background-color: rgba(113, 126, 106, 0.582);
    color: rgb(253, 252, 252);
    border-radius: 1rem;
    font-weight: bold;    

}
label {
    margin-top: auto;
    display: wrap;
    width: 100%;
    color: rgb(202, 126, 11);

    
}
input {
    height: 2rem;
    border-radius: 1rem;
    color: rgb(250, 249, 249); 
}    

form {
    margin-top: 5.2rem;
    display:grid;
    justify-content: center;
    color: rgb(195, 226, 109);

}
fieldset {
    background-color: rgba(254, 255, 253, 0.22);
    border-radius: 1rem;
    border-color: rgb(206, 176, 79);
}
button {
    border-radius: 1rem;
    color: rgb(195, 226, 109);
    background-color: rgb(16, 156, 190);
    margin-top: 1rem;
    height: 2.5rem;
}
textarea {
    background-color: rgba(254, 255, 253, 0.22);
    width: auto;
    height: 3rem;
    border-color: rgb(206, 176, 79);
    border-radius: 1rem;
    color: rgb(250, 249, 249);
    font-weight: bold;

}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid rgb(206, 176, 79);
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: rgb(250, 249, 249);
}

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="tel"]::placeholder, textarea::placeholder {
    color: rgb(250, 249, 249);
}



@media (max-width: 720px) {
    #map {
        margin-top: 80px; /* hauteur de la navbar mobile */
    }
}

@media (min-width: 721px) and (max-width: 1024px) {
    #map {
        margin-top: 100px;
    }
}

@media (min-width: 1025px) {
    #map {
        margin-top: 120px;
    }
}