/* Reset de base */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  position: absolute; 
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
footer{
  font-family: 'Segoe UI', sans-serif;
  color: white;
}
.navbar .logo {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/* HERO */
.hero {
  background: url('/img/stephan-bechert-yFV39g6AZ5o-unsplash.jpg') center/cover no-repeat;
  width: 100%;
  padding-top: 120px; /* espace pour la navbar */
  box-sizing: border-box;
  text-align: center;
}

.hero-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  width: 100%;
  margin: 0;
  border-radius: 0;
  box-sizing: border-box;
  justify-content: center;
  /* Le bandeau prend toute la hauteur restante */
  min-height: calc(100vh - 80px);
}

/* CTA */
.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #00bfa6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}